
.form-details-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .form-details-container h1 {
    margin-bottom: 50px;
    color: #333;
  }

  .form-details-container p {
    margin: 30px;
    font-size: 1.1rem;
    color: #555;
  }
 